.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"HCWLIC+HYJinKaiJ";
	src:url("../fonts/e80f9305-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.670833em;
	font-family: "HCWLIC+HYJinKaiJ", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_09 {
	letter-spacing: -0.0456px;
}
.stl_10 {
	font-size: 1.329167em;
	font-family: "HCWLIC+HYJinKaiJ", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0031em;
}

.stl_ie .stl_11 {
	letter-spacing: 0.066px;
}
.stl_12 {
	font-size: 1em;
	font-family: "HCWLIC+HYJinKaiJ", "Times New Roman";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0.0152em;
}

.stl_ie .stl_13 {
	letter-spacing: 0.2434px;
}
.stl_14 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_14 {
	letter-spacing: 0.0012px;
}
.stl_15 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0016px;
}
.stl_16 {
	letter-spacing: 0em;
}

.stl_ie .stl_16 {
	letter-spacing: 0px;
}
.stl_17 {
	letter-spacing: 0.0006em;
}

.stl_ie .stl_17 {
	letter-spacing: 0.0103px;
}
.stl_18 {
	letter-spacing: -0.006em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.096px;
}
.stl_19 {
	letter-spacing: -0.24em;
}

.stl_ie .stl_19 {
	letter-spacing: -3.84px;
}
.stl_20 {
	letter-spacing: -0.2401em;
}

.stl_ie .stl_20 {
	letter-spacing: -3.8413px;
}
.stl_21 {
	letter-spacing: 0.0018em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0283px;
}
.stl_22 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0123px;
}
.stl_23 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.0033px;
}
.stl_24 {
	letter-spacing: -0.1em;
}

.stl_ie .stl_24 {
	letter-spacing: -1.6px;
}
.stl_25 {
	letter-spacing: -0.03em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.48px;
}
.stl_26 {
	letter-spacing: 0.01em;
}

.stl_ie .stl_26 {
	letter-spacing: 0.1599px;
}
