.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"COQSBJ+HYJinKaiJ";
	src:url("../fonts/470e8957-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.829167em;
	font-family: "COQSBJ+HYJinKaiJ", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0019em;
}

.stl_ie .stl_09 {
	letter-spacing: 0.0553px;
}
.stl_10 {
	font-size: 1.670833em;
	font-family: "COQSBJ+HYJinKaiJ", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0195px;
}
.stl_12 {
	font-size: 1em;
	font-family: "COQSBJ+HYJinKaiJ", "Times New Roman";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0.0014em;
}

.stl_ie .stl_13 {
	letter-spacing: 0.0231px;
}
.stl_14 {
	letter-spacing: 0.0128em;
}

.stl_ie .stl_14 {
	letter-spacing: 0.2056px;
}
.stl_15 {
	letter-spacing: 0em;
}

.stl_ie .stl_15 {
	letter-spacing: 0px;
}
.stl_16 {
	letter-spacing: -0.1em;
}

.stl_ie .stl_16 {
	letter-spacing: -1.6px;
}
.stl_17 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0166px;
}
.stl_18 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.0013px;
}
.stl_19 {
	letter-spacing: -0.1001em;
}

.stl_ie .stl_19 {
	letter-spacing: -1.6013px;
}
.stl_20 {
	letter-spacing: -0.0106em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.17px;
}
.stl_21 {
	letter-spacing: 0.0067em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.1067px;
}
.stl_22 {
	letter-spacing: 0.005em;
}

.stl_ie .stl_22 {
	letter-spacing: 0.0797px;
}
.stl_23 {
	letter-spacing: 0.0051em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.0821px;
}
.stl_24 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0038px;
}
@font-face {
	font-family:"CTESME+Wingdings-Regular";
	src:url("../fonts/2d761175-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 1em;
	font-family: "CTESME+Wingdings-Regular", "Times New Roman";
	color: #000000;
}
.stl_26 {
	line-height: 1.109863em;
}
.stl_27 {
	letter-spacing: -0.2701em;
}

.stl_ie .stl_27 {
	letter-spacing: -4.3213px;
}
.stl_28 {
	letter-spacing: 0.0012em;
}

.stl_ie .stl_28 {
	letter-spacing: 0.0194px;
}
.stl_29 {
	letter-spacing: -0.27em;
}

.stl_ie .stl_29 {
	letter-spacing: -4.32px;
}
.stl_30 {
	letter-spacing: 0.0015em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.0238px;
}
.stl_31 {
	letter-spacing: 0.0146em;
}

.stl_ie .stl_31 {
	letter-spacing: 0.2339px;
}
.stl_32 {
	letter-spacing: 0.0009em;
}

.stl_ie .stl_32 {
	letter-spacing: 0.0136px;
}
.stl_33 {
	letter-spacing: 0.0117em;
}

.stl_ie .stl_33 {
	letter-spacing: 0.187px;
}
.stl_34 {
	letter-spacing: 0.001em;
}

.stl_ie .stl_34 {
	letter-spacing: 0.016px;
}
.stl_35 {
	letter-spacing: 0.0135em;
}

.stl_ie .stl_35 {
	letter-spacing: 0.2163px;
}
.stl_36 {
	letter-spacing: 0.0048em;
}

.stl_ie .stl_36 {
	letter-spacing: 0.0772px;
}
.stl_37 {
	letter-spacing: -0.4em;
}

.stl_ie .stl_37 {
	letter-spacing: -6.4px;
}
.stl_38 {
	letter-spacing: 0.004em;
}

.stl_ie .stl_38 {
	letter-spacing: 0.0634px;
}
.stl_39 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0014px;
}
.stl_40 {
	letter-spacing: 0.0098em;
}

.stl_ie .stl_40 {
	letter-spacing: 0.1564px;
}
.stl_41 {
	letter-spacing: 0.15em;
}

.stl_ie .stl_41 {
	letter-spacing: 2.4px;
}
.stl_42 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_42 {
	letter-spacing: 0.0028px;
}
.stl_43 {
	font-size: 1em;
	font-family: "COQSBJ+HYJinKaiJ", "Times New Roman";
	color: #0000FF;
}
